<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> -->

  <link rel="stylesheet" media="screen and (min-width: 800px)" href="{% static 'city/Styles/comp_wide.css' %}" />
  <link rel="stylesheet" media="screen and (max-width: 800px)" href="{% static 'city/Styles/comp_small.css' %}" />
  <link rel="stylesheet" href="{% static 'city/Styles/dashboard.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet" />
  <title>City Elimination | Alcheringa</title>
</head>

<body>
  <!---------------Nav Bar ----------------->
  <div class="flex-container-1">
    <div class="flex-item-1 disapp_in_compview" id="flex-item-18">
      <a href="{% url 'register_single' %}"> Register</a>
    </div>

    <div class="flex-item-1 toggle-btn" id="flex-item-17" onclick="myFunction()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="flex-item-1 cross-btn" id="flex-item-19" onclick="myFunction()">
      <span>x</span>
    </div>

    <div class="flex-item-1" id="flex-item-11">
      <img src="{% static 'images/imagelogo.png' %}" alt="logo" />
    </div>

    <div class="flex-item-1" id="flex-item-12">Alcheringa</div>

    <div class="flex-item-1 disapp_in_mobview" id="flex-item-13">
      <a href="{% url 'landing-page' %}"> Home</a>
    </div>
    <div class="flex-item-1 disapp_in_mobview" id="flex-item-13">
      <a href="#competitions">Competitions</a>
    </div>

    <div class="flex-item-1 disapp_in_mobview" id="flex-item-14">
      <a href="#schedule">Schedule</a>
    </div>

    <div class="flex-item-1 disapp_in_mobview" id="flex-item-15">
      <a href="#aboutus">About Us</a>
    </div>
    <div class="flex-item-1 disapp_in_mobview" id="flex-item-15">
      <a href="#sponsors">Sponsors</a>
    </div>
    <div class="flex-item-1 disapp_in_mobview" id="flex-item-16">
      <a href="{% url 'register_single' %}"> Register</a>
    </div>
  </div>

  <!--************************** City ***********************************-->
  <div class="city-container" style="
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
      ),
      url('{{ city.cityImage.url }}');
    background-size: contain;
    width: 100%;
    height: calc(0.40 * 100vw);
    background-size:cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  ">
    <div class="city-link">
      Not your city? <a href="{% url 'landing-page' %}">Click here.</a>
    </div>
  </div>

  <!-- ******************** Competitions ************** -->
  <div class="dmsans comp-main" id="wideview">
    <div style="padding-top: 3%" id="competitions">
      <h1 id="competition" class="coolvetica">Competitions</h1>
      {% for i,comp in range %} {% if i|divisibleby:"2" %}
      <div class="row">
        <div id="lefttext" style="background-image:url('{{ comp.background_img.url }}')">
          <h1 class="coolvetica">{{comp.competitionName}}</h1>
          <p class="comp-desc">{{comp.competitionDescription}}</p>
          <div style="display:flex">
            <a href = "{% url 'register_single' %}" style="text-decoration:none"><button type="button" class="btn register-btn">Register</button></a>
            <a href = "https://www.math.ncku.edu.tw/~rchen/2016%20Teaching/Chapter%202_Fourier%20Transform.pdf" style="text-decoration:none" target="_blank"><button type="button" class="btn rule-btn">Rule Booklet</button></a>
          </div>
        </div>
        <div style="padding-right: 12%">
          <img src="{{comp.competitionImage1.url}}" style="width: 30vw;  margin-left: 2%" />
          <img src="{{comp.competitionImage2.url}}" class="img2"  style="width: 22vw; " />
        </div>
      </div>
      {% else %}
      <div class="row">
        <div style="padding-left: 10%; margin-right: 2%;z-index: 1000;">
          <img src="{{comp.competitionImage1.url}}" style="width: 32vw; margin-left: 2%" />
          <img src="{{comp.competitionImage2.url}}" class="img2"  style="width: 26vw" />
        </div>
        <div id="righttext" style="background-image:url('{{ comp.background_img.url }}'); z-index: 1;">
          <h1 class="coolvetica">{{comp.competitionName}}</h1>
          <p class="comp-desc">{{comp.competitionDescription}}</p>
          <div style="display:flex">
            <a href = "{% url 'register_single' %}" style="text-decoration:none"><button type="button" class="btn register-btn">Register</button></a>
            <a href = "https://www.math.ncku.edu.tw/~rchen/2016%20Teaching/Chapter%202_Fourier%20Transform.pdf" style="text-decoration:none" target="_blank"><button type="button" class="btn rule-btn">Rule Booklet</button></a>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <div style="height: 20px"></div>
  </div>

  <div id="mobileview" style="margin-top: 3%">
    <h1 id="competition">Competitions</h1>
    {% for comp in competitions %}
    <div id="card1" class="card">
      <div class="coontainer">
        <img src="{{comp.competitionImage1.url}}" alt="Snow" id="cardimg1">
        <div class="top-left" style="background-color: transparent;">
          <div style="background-color: rgb(22, 22, 22, 0.8); color: #F29E6D; font-size: 180%; margin: 0%; padding: 10px;border-radius: 5px;">
            <p style="color: #F29E6D;">{{comp.competitionName}}</p>
          </div>
        </div>
        <div class="top-left-onhover">
          <h2 style="background-color: black;"><i class="bi bi-x" style="background-color: black;"></i>
          </h2>
        </div>
        <div class="top-right">
          <h2 style="background-color: black;"><i class="bi bi-info-circle" style="background-color:black;"></i></h2>
        </div>
        <a href="{% url 'register_single' %}" style="text-decoration: none;"><div class="bottom-right">
          <button type="button" class="mv-btn">Register</button>
        </div></a>
        <span class="bottom-center" style="">
          <span style="background-color: transparent; color: #F29E6D; font-family: 'Coolvetica';
                        font-weight: 900;
                        font-size: 8vw;">
            {{comp.competitionName}}</span>
        </span>
      </div>
      <div class="onshow">
        <p style="margin-top: 12%; margin-bottom: 12%; background-color: white;">
          {{comp.competitionDescription}}
        </p>
        <a href="{% url 'register_single' %}" style="text-decoration: none;"><button type="button" class="onshowbtn">
          <div style="background-color: #F24405;">Register</div>
        </button></a>
      </div>
    </div>
    {% endfor %}
  </div>

  <!--------------------  Schedule  ------------------------>

  <div id="schedule">
    <div class="table">
      <table style="border: 5px solid #f2e9e9; border-spacing: 0px">
        <!-- <caption>Life Expectancy By Current Age</caption> -->
        <tr style="margin: 0px; padding: 0px; border-spacing: 0px">
          <th colspan="8" class="Schedule">Schedule</th>

          <td rowspan="1100" class="verticalrow">Don't miss it!</td>
        </tr>
        <tr style="border: 5px solid #f2e9e9; border-spacing: 0px">
          <th colspan="8" class="dates" style="
                border-bottom: 5px solid #f2e9e9;
                border-right: 5px solid #f2e9e9;
              ">
            {{city.competitionDate}}
          </th>
        </tr>
        <tr>

          {% if compe %}

          <tr>
            <td class="event">{{compe.0.CompetitionName}}</td>
            <td class="eventtime">{{compe.0.competitionDate}}</td>
            <td class="event">{{compe.4.CompetitionName}}</td>
            <td class="eventtime">{{compe.4.competitionDate}}</td>
            <td class="event">{{compe.8.CompetitionName}}</td>
            <td class="eventtime">{{compe.8.competitionDate}}</td>
          </tr>
          <tr>
            <td class="event">{{compe.1.CompetitionName}}</td>
            <td class="eventtime">{{compe.1.competitionDate}}</td>
            <td class="event">{{compe.5.CompetitionName}}</td>
            <td class="eventtime">{{compe.5.competitionDate}}</td>
            <td class="event">{{compe.9.CompetitionName}}</td>
            <td class="eventtime">{{compe.9.competitionDate}}</td>
          </tr>

          <tr>
            <td class="event">{{compe.2.CompetitionName}}</td>
            <td class="eventtime">{{compe.2.competitionDate}}</td>
            <td class="event">{{compe.6.CompetitionName}}</td>
            <td class="eventtime">{{compe.6.competitionDate}}</td>
            <td class="event">{{compe.10.CompetitionName}}</td>
            <td class="eventtime">{{compe.10.competitionDate}}</td>
          </tr>
          <tr>
            <td class="event">{{compe.3.CompetitionName}}</td>
            <td class="eventtime">{{compe.3.competitionDate}}</td>
            <td class="event">{{compe.7.CompetitionName}}</td>
            <td class="eventtime">{{compe.7.competitionDate}}</td>
            <td class="event">{{compe.11.CompetitionName}}</td>
            <td class="eventtime">{{compe.11.competitionDate}}</td>
          </tr>

          {% else %}

          <tr>
            <td class="event">Coming Soon</td>
          </tr>
          <tr>
          </tr>

          <tr>
          </tr>
          <tr>
          </tr>

          {% endif %}

          
      </table>
    </div>

    <!--------------------  About Alcheringa  ------------------------>

    <div class="container" id="aboutus">
      <div class="c1 lap">
        <div class="Heading">
          About<br />
          Alcheringa
        </div>

        <div class="text">
          Alcheringa is the annual cultural festival of the Indian Institute
          of Technology (IIT), Guwahati. Started in 1996 by a group of
          students, Alcheringa, IIT Guwahati has become one of Asia's most
          significant college-level cultural fests. Spread over three days and
          four nights, Alcheringa attracts people from all over the world with
          its spectacular events and competitions.
        </div>
      </div>

      <div class="c1 mob">
        <div class="Heading">About Alcheringa</div>

        <div class="text">
          Alcheringa is the annual cultural festival of the Indian Institute
          of Technology (IIT), Guwahati. Started in 1996 by a group of
          students, Alcheringa, IIT Guwahati has become one of Asia's most
          significant college-level cultural fests. Spread over three days and
          four nights, Alcheringa attracts people from all over the world with
          its spectacular events and competitions.
        </div>
      </div>

      <div class="c2 mob">
        <div class="Heading">Highway to Alcher</div>

        <div class="text">
          Alcheringa is the annual cultural festival of the Indian Institute
          of Technology (IIT), Guwahati. Started in 1996 by a group of
          students, Alcheringa, IIT Guwahati has become one of Asia's most
          significant college-level cultural fests. Spread over three days and
          four nights, Alcheringa attracts people from all over the world with
          its spectacular events and competitions.
        </div>
      </div>
      <div class="c2 lap">
        <div class="text">
          Alcheringa is the annual cultural festival of the Indian Institute
          of Technology (IIT), Guwahati. Started in 1996 by a group of
          students, Alcheringa, IIT Guwahati has become one of Asia's most
          significant college-level cultural fests. Spread over three days and
          four nights, Alcheringa attracts people from all over the world with
          its spectacular events and competitions.
        </div>
        <div class="Heading">Highway to<br />Alcher</div>
      </div>
    </div>

    <!--------------------  Sponsors  ------------------------>

    <div class="sponsers" id="sponsors">
      <br />
      <div class="heading">Sponsors</div>

      <div class="marquee-body" style="z-index: 100">
        <div class="marquee">
          <ul class="marquee-content">
            <li>
              <img src="{%static 'city\images\sponser1.png' %}" alt="pr-sample23" style="width: 350px; height: 200px" />
            </li>
            <li>
              <img src="{%static 'city\images\sponser3.png' %}" alt="pr-sample23" style="width: 350px; height: 200px" />
            </li>
            <li>
              <img src="{%static 'city\images\sponser2.png' %}" alt="pr-sample23" style="width: 350px; height: 200px" />
            </li>
            <li>
              <img src="{%static 'city\images\art1.png' %}" alt="pr-sample23" style="width: 350px; height: 200px" />
            </li>
            <li>
              <img src="{%static 'city\images\art2.png' %}" alt="pr-sample23" style="width: 350px; height: 200px" />
            </li>
            <li>
              <img src="{%static 'city\images\palette.png' %}" alt="pr-sample23" style="width: 350px; height: 200px" />
            </li>
            <li>
              <img src="{%static 'city\images\sponser1.png' %}" alt="pr-sample23" style="width: 350px; height: 200px" />
            </li>
          </ul>
        </div>
      </div>
      <br /><br /><br />
    </div>
  </div>

  <!--FOOTER-->

  <div class="container0">
    <div class="container1">
      <img src="{%static 'city\images\Mask group.png' %}" />
    </div>

    <!-- -->
    <div class="container2">
      <div class="alcher">
        <div>
          <h1 class="footer_text" id="highway">Highway</h1>
        </div>
        <div>
          <h1 class="footer_text">to</h1>
        </div>
        <div>
          <h1 class="footer_text" id="alcher">Alcher</h1>
        </div>
      </div>
      <div class="contactinfo">
        <h1 id="contact" style="margin:0;font-size: 30px;">Contact Us</h1>
        <div class="names">
          <div class="Siddhant">
            <h2 id="sid">Siddhant Singh</h2>
            <h3 id="pr1">PR Head</h3>
            <p>+91-9310859978</p>
          </div>
          <div class="Akshara">
            <h2 id="akshara">Danda Akshara</h2>
            <h3 id="pr2">PR Head</h3>
            <p>+91-9908991939</p>
          </div>
          <div class="Quasim">
            <h2 id="quasim">Quasim Khan</h2>
            <h3 id="pr3">Media and Outreach Head</h3>
            <p>+91-7763959688</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container3">
      <div class="video">
        <div style="margin-bottom:80px;margin-top: 30px;display: flex;flex-direction: column;">
          <h1 id="discover" style="margin-bottom:0; margin-left: 10px;">Discover Alcheringa</h1>
          <div class="class-iframe">
            <iframe class="size-iframe" src="https://youtu.be/byhtsRBr2VY" style="width: 100%;"></iframe>
            <hr style="border: 3px solid #f29e6d; transform: translate(0, -12px);" >
          </div>
        </div>
        <div class="follow">
          <div>
            <h1 id="follow-us" style="margin-bottom:8px; margin-left: 10px;font-size: 2em;">Follow us </h1>
          </div>
          <div class="icons">
            <div style="margin-right: 6px; margin-left: 10px;">
              <a href="https://www.instagram.com/alcheringaiitg/" target="_blank"><img src="{%static 'city\images\instagram (4).png' %}"
                  width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/" target="_blank"><img
                  src="{%static 'city\images\linkedin (2).png' %}" width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://www.facebook.com/alcheringaiitg" target="_blank"><img src="{%static 'city\images\facebook.png' %}"
                  width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://twitter.com/alcheringaiitg" target="_blank"><img src="{%static 'city\images\twit.png' %}"
                  width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://www.youtube.com/c/AlcheringaIITG" target="_blank"><img src="{%static 'city\images\youtube.png' %}"
                  width="36px" /></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
   </div>

  </div>

</body>
</body>

<script type="text/javascript">
  function myFunction() {
    var element1 = document.getElementById("flex-item-13");
    element1.classList.toggle("show");
    var element2 = document.getElementById("flex-item-14");
    element2.classList.toggle("show");
    var element3 = document.getElementById("flex-item-15");
    element3.classList.toggle("show");
    // var element4= document.getElementById("flex-item-16");
    // element4.classList.toggle("show");
    var element4 = document.getElementById("flex-item-17");
    element4.classList.toggle("alternate1");
    var element5 = document.getElementById("flex-item-19");
    element5.classList.toggle("alternate2");
  }
</script>

</html>

<!-- <div class="container0">
      <div class="container1">
        <img src="{%static 'city\images\Mask group.png' %}" />
      </div>
      <div class="container2">
        <div class="alcher">
          <div><h1 class="footer_text" id="highway">Highway</h1></div>
          <div><h1 class="footer_text">to</h1></div>
          <div><h1 class="footer_text" id="alcher">Alcher</h1></div>
        </div>
        <div class="contactinfo">
          <h1 id="contact">Contact Us</h1>
          <div class="names">
            <div class="Siddhant">
              <h2 id="sid">Siddhant Singh</h2>
              <h3 id="pr1">PR Head</h3>
              <p>+91-9310859978</p>
            </div>
            <div class="akshara">
              <h2 id="akshara">Danda Akshara</h2>
              <h3 id="pr2">PR Head</h3>
              <p>+91-9908991939</p>
            </div>
            <div class="Quasim">
              <h2 id="quasim">Quasim</h2>
              <h3 id="pr3">PR Head</h3>
              <p>+91-9310859978</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container3">
        <div class="video">
          <div><h1 id="discover">Discover Alcheringa</h1></div>
          <div class="class-iframe">
            <iframe
              class="size-iframe"
              src="https://youtu.be/byhtsRBr2VY"
            ></iframe>
          </div>
        </div>
        <div class="follow">
          <div><h1 id="follow-us">Follow us :</h1></div>
          <div class="icons">
            <div>
              <a href="https://www.instagram.com/alcheringaiitg/"
                ><img src="{%static 'city\images\instagram (4).png' %}"
              /></a>
            </div>
            <div>
              <a
                href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/"
                ><img src="{%static 'city\images\linkedin (2).png' %}"
              /></a>
            </div>
            <div>
              <a href="https://www.facebook.com/alcheringaiitg"
                ><img src="{%static 'city\images\facebook.png' %}"
              /></a>
            </div>
            <div>
              <a href="https://twitter.com/alcheringaiitg"
                ><img src="{%static 'city\images\twitter.png' %}"
              /></a>
            </div>
            <div>
              <a href="https://www.youtube.com/c/AlcheringaIITG"
                ><img src="{%static 'city\images\youtube.png' %}g"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

<!-- <div class="footer_container">
            <div style="display: inline;">
                <img class="logo_footer" src="{%static 'city\images\Mask group.png' %}">
            </div>
            
            <div class="left_container_footer">
                <div class="heading_footer">
                    Highway<br>to<br>Alcher
                </div>
                <div class="contact_us_footer">
                    Contact Us
                    <div class="contact_info_footer">
                        <div>
                            Siddhant Singh
                            <br><br>
                            PR Head
                            <br>
                            +91-9310859978
                        </div>
                        <div>
                            Danda Akshara
                            <br><br>
                            PR Head
                            <br>
                            +91-9908991939
                        </div>
                        <div>
                            Quasim
                            <br><br>
                            PR Head
                            <br>
                            +91-9310859978
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_container_footer">
                <div class="discover_footer">
                    <div class="right_heading_footer">
                        Discover Alcheringa
                    </div>
                    <iframe src="https://www.youtube.com/watch?v=b1Xq6ofywkk">
                    </iframe>
                </div>
            
                <div class="socials_footer">
                    <div class="follow_us_heading_footer">
                        Follow Us
                    </div>
                    <div class="icon_grid_footer">
                        <a href="https://www.instagram.com/alcheringaiitg/">
                            <img src="{%static 'city\images\instagram (4).png' %}"/>
                        </a>
                        <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/">
                            <img src="{%static 'city\images\linkedin (2).png' %}"/>
                        </a>
                        <a href="https://www.facebook.com/alcheringaiitg">
                            <img src="{%static 'city\images\facebook.png' %}"/>
                        </a>
                        <a href="https://twitter.com/alcheringaiitg">
                            <img src="{%static 'city\images\twit.png' %}"/>
                        </a>
                        <a href="https://www.youtube.com/c/AlcheringaIITG">
                            <img src="{%static 'city\images\youtube.png' %}"/>
                        </a>
                    </div>
                </div>
        </div>
            <hr style="background-color: rgba(242, 158, 109, 1); height: 4px; width: 100% ; border: none; position: relative; bottom: 675px;" >

    </div> -->

<!--   <div class="container0">
    <div class="container1">
        <img src="{%static 'city\images\Mask group.png' %}">

    </div>
        <div class="container2">
            <div class="alcher">
            <h1 id="highway">Highway</h1>
            <h1>to</h1>
            <h1 id="alcher">Alcher</h1>
        
        </div>
            <div class="contactinfo">
                <h1 id="contact">Contact Us</h1>
                <div class="names">
                    <div class="Siddhant">
                    <h2 id="sid">Siddhant Singh</h2>
                    <h3 id="pr1">PR Head</h3>
                    <p>+91-9310859978</p>
                </div>
                <div class="akshara">
                    <h2 id="akshara">Danda Akshara</h2>
                    <h3 id="pr2">PR Head</h3>
                    <p>+91-9908991939</p>
                </div>
                <div class="Quasim">
                <h2 id="quasim">Quasim</h2>
                <h3 id="pr3">PR Head</h3>
                    <p>+91-9310859978</p>
                
                </div>
            </div>
        </div>
    </div>
        <div class="container3">
            <div class="video">
            <h1 id="discover">Discover Alcheringa</h1>
            <iframe src="https://youtu.be/byhtsRBr2VY">
                </iframe>
            </div>
                <div class="follow">
    <h1>Follow us</h1>
                <div class="icons">
                    <a href="https://www.instagram.com/alcheringaiitg/"><img src="images/instagram (4).png"></a>


                    <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/"><img src="images/linkedin (2).png"></a>
                    <a href="https://www.facebook.com/alcheringaiitg"><img src="images/facebook.png"></a>
                    <a href="https://twitter.com/alcheringaiitg"><img src="images/twit.png"></a>
                    <a href="https://www.youtube.com/c/AlcheringaIITG"><img src="images/youtube.png"></a>
                
                </div>
            </div> -->

<!-- </div>

        </div>
    </body> -->

<!-- <script src="https://kit.fontawesome.com/9f36b35b03.js" crossorigin="anonymous">
        

    const root = document.documentElement;
    const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
    const marqueeContent = document.querySelector("ul.marquee-content");

    root.style.setProperty("--marquee-elements", marqueeContent.children.length);

    for (let i = 0; i < marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
    }
    </script> -->
