<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--   <script src="https://cdn.tailwindcss.com"></script> -->

  <link rel="shortcut icon" href="{% static 'city/images/favicon.ico' %}" type="image/x-icon" />

  <link rel="stylesheet" media="screen and (min-width: 800px)" href="{% static 'city/Styles/comp_wide.css' %}" />
  <link rel="stylesheet" media="screen and (max-width: 800px)" href="{% static 'city/Styles/comp_small.css' %}" />
  <link rel="stylesheet" href="{% static 'city/Styles/dashboard.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <title>Alcheringa</title>
</head>
<style>
  .city-container {
    background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)),
    url('{{ city.cityImage.url }}');
    background-size: contain;
    width: 100%;
    height: calc(0.50 * 100vw);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

  @media screen and (min-width: 1024px) {

    .flex-container-1 {
      height: 10vh;
    }
  }
</style>

<body>
  {% comment %}
  <!---------------Nav Bar -----------------> {% endcomment %}

  <div class="flex-container-1">
    <div class="flex-item-1 disapp_in_compview" id="flex-item-18">
      <a href="{% url 'register_single' %}"> Register</a>
    </div>

    <div class="flex-item-1 toggle-btn" id="flex-item-17" onclick="myFunction()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="flex-item-1 cross-btn" id="flex-item-19" onclick="myFunction()">
      <span>x</span>
    </div>

    <div class="flex-item-1" id="flex-item-11">
      <img src="{% static 'images/imagelogo.png' %}" alt="logo" />
    </div>

    <div class="flex-item-1" id="flex-item-12"><a href="{% url 'my_redirect'%}" target="_blank"
        style="text-decoration:none"><b>Alcheringa</b></a></div>

    <div class="flex-item-1 disapp_in_mobview" id="flex-item-13">
      <a href="{% url 'landing-page' %}"> Home</a>
    </div>
    <div class="flex-item-1 disapp_in_mobview" id="flex-item-13">
      <a href="#competitions">Competitions</a>
    </div>

    <div class="flex-item-1 disapp_in_mobview" id="flex-item-14">
      <a href="#schedule">Schedule</a>
    </div>

    <div class="flex-item-1 disapp_in_mobview" id="flex-item-15">
      <a href="#aboutus">About Us</a>
    </div>
    <div class="flex-item-1 disapp_in_mobview" id="flex-item-99">
      <a href="{% url 'sponsors' %}">Sponsors</a>
    </div>
    <div class="flex-item-1 disapp_in_mobview" id="flex-item-16">
      <a href="{% url 'register_single' %}"> Register</a>
    </div>
  </div>

  <!--************************** City ***********************************-->
  <div class="city-container" data-aos="zoom-in">
    <div class="city-link" style="text-align: center;font-size: 1.5vw;">
      <span style="font-size: 3.5vw;font-weight: bold!important; transform: translate(0,-6px);">Venue - {{ city.venue }}</span><br>
      <span id="date" style="font-size: 3.5vw;font-weight: bold!important; transform: translate(0,-6px);">Date-{{city.competitionDate}}</span><br>
      Not your city? <a href="{% url 'landing-page' %}">Click here.</a>
    </div>
  </div>

  <!-- ******************** Competitions ************** -->
  <div class="dmsans comp-main" id="wideview">
    <div style="padding-top: 3%" id="competitions">
      <h1 id="competition" class="coolvetica" data-aos="flip-up" data-aos-delay="300">Competitions</h1>
      {% for i,comp in range %} {% if i|divisibleby:"2" %}
      <div class="row">
        <div id="lefttext" style="background-image:url('{{ comp.background_img.url }}')">
          <h1 class="coolvetica" data-aos="fade-up">{{comp.competitionName}}</h1>
          <p class="comp-desc" data-aos="fade-right" data-aos-delay="300">{{comp.competitionDescription}}</p>
          <div style="display:flex" data-aos="fade-up" data-aos-delay="300">
            <a href="{% url 'register_single' %}" style="text-decoration:none"><button type="button"
                class="btn register-btn">Register</button></a>
            <a href="https://bucket-alcher.alcheringa.in/alchercemedia/{{ comp.rule_booklet }}"
              style="text-decoration:none" target="_blank"><button type="button" class="btn rule-btn">Rule
                Booklet</button></a>
          </div>
        </div>
        <div style="padding-right: 12%">
          <img src="{{comp.competitionImage1.url}}" style="width: 30vw;  margin-left: 2%" data-aos="fade-down"
            data-aos-delay="600" />
          <img src="{{comp.competitionImage2.url}}" class="img2" style="width: 22vw; " data-aos="fade-up"
            data-aos-delay="500" />
        </div>
      </div>
      {% else %}
      <div class="row">
        <div style="padding-left: 10%; margin-right: 2%;z-index: 1000;">
          <img src="{{comp.competitionImage1.url}}" style="width: 32vw; margin-left: 2%" data-aos="fade-down"
            data-aos-delay="600" />
          <img src="{{comp.competitionImage2.url}}" class="img2" style="width: 26vw" data-aos="fade-up"
            data-aos-delay="500" />
        </div>
        <div id="righttext" style="background-image:url('{{ comp.background_img.url }}'); z-index: 1;">
          <h1 class="coolvetica" data-aos="fade-up">{{comp.competitionName}}</h1>
          <p class="comp-desc" data-aos="fade-left" data-aos-delay="300">{{comp.competitionDescription}}</p>
          <div style="display:flex" data-aos="fade-up" data-aos-delay="300">
            <a href="{% url 'register_single' %}" style="text-decoration:none"><button type="button"
                class="btn register-btn">Register</button></a>
            <a href="https://bucket-alcher.alcheringa.in/alchercemedia/{{ comp.rule_booklet }}"
              style="text-decoration:none" target="_blank"><button type="button" class="btn rule-btn">Rule
                Booklet</button></a>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <div style="height: 20px"></div>
  </div>

  <div id="mobileview" style="margin-top: 0%">
    <h1 id="competition" data-aos="zoom-in">Competitions</h1>
    {% for comp in competitions %}
    <div id="card1" class="card">
      <div class="coontainer" style="background: transparent; text-align: center;">
        <img src="{{comp.competitionImage1.url}}" alt="Snow" id="cardimg1">
        <div class="top-left" style="background-color: transparent; text-align: center;">
          <div style="color: #F29E6D; font-size: 180%; margin: 0%; padding: 10px;border-radius: 5px;">
            <p style="color: #F29E6D; text-align: center;">{{comp.competitionName}}</p>
          </div>
        </div>
        <div class="top-left-onhover">
          <h2 style="background-color: black;"><i class="bi bi-x" style="background-color: black;"></i>
          </h2>
        </div>
        <div class="top-right">
          <h2 style="background-color: black;"><i class="bi bi-info-circle" style="background-color:black;"></i></h2>
        </div>
        <span class="bottom-center">
          <span style="background-color: transparent; color: #F29E6D;
                        font-weight: 900;
                        font-size: 8vw;">
            {{comp.competitionName}}</span>
        </span>
      </div>
      <div class="onshow">
        <p style="margin-top: 12%; margin-bottom: 12%; background-color: white;">
          {{comp.competitionDescription}}
        </p>
        <a href="{% url 'register_single' %}" style="text-decoration: none;"><button type="button" class="onshowbtn">
            <div style="background-color: #F24405;">Register</div>
          </button></a>
        <div style="margin-top: 8px">
          <a href="https://bucket-alcher.alcheringa.in/alchercemedia/{{ comp.rule_booklet }}"
            style="text-decoration: none;"><button type="button" class="onshowbtn"
              style=" color: #F24405; border: 1px solid #F24405;background-color: white;">
              <div style="">Rule Booklet</div>
            </button></a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>

  <!--------------------  Schedule  ------------------------>


  <div>
    {% if city.scheduleImage%}
      <img src="{{ city.scheduleImage.url }}" style="width:100vw;">
    {% else %}

    <div class="table1" id="schedule1" data-aos="zoom-in">
      <table style="border: 5px solid #F2E9E9; border-spacing: 0px;">
        <tr style="margin: 0px; padding:0px; border-spacing :0px;">
          <th colspan="8" class="Schedule">Schedule</th>

          <td rowspan="1100" class="verticalrow">Don't miss it!</td>
        </tr>
        <tr style="border: 5px solid #f2e9e9; border-spacing: 0px;width: 75%;">
          <th colspan="8" class="dates" style="
                border-bottom: 5px solid #f2e9e9;
                border-right: 5px solid #f2e9e9; width: 75%;
              ">
            {{city.competitionDate}}
          </th>
        </tr>
        {% if compe %}

        <tr>
          <td class="event">{{compe.0.CompetitionName}}</td>
          <td class="eventtime">{{compe.0.competitionDate}}</td>
          <td class="event">{{compe.4.CompetitionName}}</td>
          <td class="eventtime">{{compe.4.competitionDate}}</td>
          <td class="event">{{compe.8.CompetitionName}}</td>
          <td class="eventtime">{{compe.8.competitionDate}}</td>
        </tr>
        <tr>
          <td class="event">{{compe.1.CompetitionName}}</td>
          <td class="eventtime">{{compe.1.competitionDate}}</td>
          <td class="event">{{compe.5.CompetitionName}}</td>
          <td class="eventtime">{{compe.5.competitionDate}}</td>
          <td class="event">{{compe.9.CompetitionName}}</td>
          <td class="eventtime">{{compe.9.competitionDate}}</td>
        </tr>

        <tr>
          <td class="event">{{compe.2.CompetitionName}}</td>
          <td class="eventtime">{{compe.2.competitionDate}}</td>
          <td class="event">{{compe.6.CompetitionName}}</td>
          <td class="eventtime">{{compe.6.competitionDate}}</td>
          <td class="event">{{compe.10.CompetitionName}}</td>
          <td class="eventtime">{{compe.10.competitionDate}}</td>
        </tr>
        <tr>
          <td class="event">{{compe.3.CompetitionName}}</td>
          <td class="eventtime">{{compe.3.competitionDate}}</td>
          <td class="event">{{compe.7.CompetitionName}}</td>
          <td class="eventtime">{{compe.7.competitionDate}}</td>
          <td class="event">{{compe.11.CompetitionName}}</td>
          <td class="eventtime">{{compe.11.competitionDate}}</td>
        </tr>

        {% else %}

        <tr>
          <td class="event">Coming Soon</td>
        </tr>
        <tr>
        </tr>

        <tr>
        </tr>
        <tr>
        </tr>

        {% endif %}
      </table>
    </div>
    <div class="sponser69" id="schedule2">
      <div class="heading69">
        Schedule
      </div>
      

      {% if compe %}
      <!-- <div class="date69" >
        {{city.competitionDate}}
      </div> -->
      <div class="main69">

        {% for schd in compe %}
        <div class="black-boxes69">
          <div class="dates69">
            {{schd.CompetitionName}}
          </div>
          <div class="items100">
            <div class="itema69">
              <div>{{schd.competitionDate}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}


    <h3 style="position: relative;top:10px;color:white;">Coming Soon</h3>

    {%endif%}
    {%endif%}
  </div>


  <!--------------------  About Alcheringa  ------------------------>
  <div class="aboutus-sponsors">
    <div class="container" id="aboutus">
      <div class="c1 lap">
        <div class="Heading" data-aos="fade-right">
          About<br />
          Alcheringa
        </div>

        <div class="text" data-aos="flip-up" data-aos-delay="500">
          Alcheringa, popularly known as “Alcher” is the annual
          socio-cultural festival of Indian Institute of Technology (IIT)
          Guwahati.Started in 1996 by a group of students of IIT
          Guwahati, Alcheringa has now become one of the biggest
          college level events in Asia. The name derives from the
          Australian language, literally translating to ‘Eternal
          Dreamtime’ and hence befitting the moment in every sense of
          the word.
        </div>
      </div>

      <div class="c1 mob">
        <div class="Heading" data-aos="fade-right">About Alcheringa</div>

        <div class="text" data-aos="flip-up" data-aos-delay="500">
          Alcheringa, popularly known as “Alcher” is the annual
          socio-cultural festival of Indian Institute of Technology (IIT)
          Guwahati.Started in 1996 by a group of students of IIT
          Guwahati, Alcheringa has now become one of the biggest
          college level events in Asia. The name derives from the
          Australian language, literally translating to ‘Eternal
          Dreamtime’ and hence befitting the moment in every sense of
          the word.
        </div>
      </div>

      <div class="c2 mob">
        <div class="Heading" data-aos="fade-left">Highway to Alcher</div>

        <div class="text" data-aos="flip-up" data-aos-delay="500">
          Do you think you are the best in your city and want to
          compete with the best of the rest of the cities in the country?
          With the vision of giving everyone a platform to compete at a
          national level by bringing in only the best talent from all over
          India to Alcheringa IIT Guwahati, we present to you the City
          Auditions known as "Highway to Alcher".
        </div>
      </div>
      <div class="c2 lap">
        <div class="text" data-aos="flip-up" data-aos-delay="500">
          Do you think you are the best in your city and want to
          compete with the best of the rest of the cities in the country?
          With the vision of giving everyone a platform to compete at a
          national level by bringing in only the best talent from all over
          India to Alcheringa IIT Guwahati, we present to you the City
          Auditions known as "Highway to Alcher".
        </div>
        <div class="Heading" data-aos="fade-left">Highway to<br />Alcher</div>
      </div>
    </div>

  
      <br /><br />
    </div>
  </div>

  <!--FOOTER-->

  <div class="container0">
    <div class="container1">
      <img src="{%static 'city/images/Mask group.png' %}" />
    </div>

    <!-- -->
    <div class="container2">
      <div class="alcher">
        <div>
          <h1 class="footer_text" id="highway">Highway</h1>
        </div>
        <div>
          <h1 class="footer_text">to</h1>
        </div>
        <div>
          <h1 class="footer_text" id="alcher">Alcher</h1>
        </div>
      </div>
      <div class="contactinfo">
        <h1 id="contact" style="margin:0;font-size: 30px;">Contact Us</h1>
        <div class="names">
          <div class="Siddhant">
            <h2 id="sid">Siddhant Singh</h2>
            <h3 id="pr1">PR Head</h3>
            <p>+91-9310859978</p>
          </div>
          <div class="Akshara">
            <h2 id="akshara">Danda Akshara</h2>
            <h3 id="pr2">PR Head</h3>
            <p>+91-9908991939</p>
          </div>
          <div class="Quasim">
            <h2 id="quasim">Quasim Khan</h2>
            <h3 id="pr3">Media and Outreach Head</h3>
            <p>+91-7763959688</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container3">
      <div class="video">
        <div style="margin-bottom:80px;margin-top: 30px;display: flex;flex-direction: column;">
          <h1 id="discover" style="margin-bottom:0; margin-left: 10px;">Discover Alcheringa</h1>
          <div class="class-iframe">
            <!-- <iframe class="size-iframe" src="https://www.youtube.com/embed/r9KMFnpZgAo" ></iframe> -->
            <!-- <video class="size-iframe" height="300" width="300" src="media/Alcheringa 2022 ： Voyage to Neoterra ｜ Official Aftermovie Teaser!!!.webm"></video> -->
            <video width="100%" height="250" controls style="padding:0;">
              <source src="{% static 'city/teaser/Alcheringa_2022_Voyage_to_Neoterra_Official_Aftermovie_Teaser!!!.webm' %}" type="video/mp4">
              <!-- <source src="movie.ogg" type="video/ogg"> -->
              <!-- Your browser does not support the video tag. -->
            </video>
            <hr style="border: 3px solid #f29e6d; transform: translate(0, -12px);">
          </div>
        </div>
        <div class="follow">
          <div>
            <h1 id="follow-us" style="margin-bottom:8px; margin-left: 10px;font-size: 2em;">Follow us </h1>
          </div>
          <div class="icons">
            <div style="margin-right: 6px;margin-left: 10px;">
              <a href="https://www.instagram.com/alcheringaiitg/" target="_blank"><img
                  src="{%static 'city/images/instagram (4).png' %}" width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/" target="_blank"><img
                  src="{%static 'city/images/linkedin (2).png' %}" width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://www.facebook.com/alcheringaiitg" target="_blank"><img
                  src="{%static 'city/images/facebook.png' %}" width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://twitter.com/alcheringaiitg" target="_blank"><img src="{%static 'city/images/twit.png' %}"
                  width="36px" /></a>
            </div>
            <div style="margin-right: 6px;">
              <a href="https://www.youtube.com/c/AlcheringaIITG" target="_blank"><img
                  src="{%static 'city/images/youtube.png' %}" width="36px" /></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      // Global settings:
      disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
      startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
      initClassName: 'aos-init', // class applied after initialization
      animatedClassName: 'aos-animate', // class applied on animation
      useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
      disableMutationObserver: false, // disables automatic mutations' detections (advanced)
      debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
      throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


      // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
      offset: 120, // offset (in px) from the original trigger point
      delay: 80, // values from 0 to 3000, with step 50ms
      duration: 900, // values from 0 to 3000, with step 50ms
      easing: 'ease', // default easing for AOS animations
      once: false, // whether animation should happen only once - while scrolling down
      mirror: false, // whether elements should animate out while scrolling past them
      anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

    });
  </script>


</body>

<script type="text/javascript">
  function myFunction() {
    var element1 = document.getElementById("flex-item-13");
    element1.classList.toggle("show");
    var element2 = document.getElementById("flex-item-14");
    element2.classList.toggle("show");
    var element3 = document.getElementById("flex-item-15");
    element3.classList.toggle("show");
    // var element4= document.getElementById("flex-item-16");
    // element4.classList.toggle("show");
    var element4 = document.getElementById("flex-item-99");
    element4.classList.toggle("show");
    var element5 = document.getElementById("flex-item-17");
    element5.classList.toggle("alternate1");
    var element5 = document.getElementById("flex-item-19");
    element5.classList.toggle("alternate2");
  }
</script>

</html>
