<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--   <script src="https://cdn.tailwindcss.com"></script> -->

    <link rel="shortcut icon" href="{% static 'city/images/favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" media="screen and (min-width: 800px)" href="{% static 'city/Styles/comp_wide.css' %}" />
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="{% static 'city/Styles/comp_small.css' %}" />
    <link rel="stylesheet" href="{% static 'city/Styles/dashboard.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Alcheringa</title>
</head>
<style>
    .city-container {
        background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)),
        url('{{ city.cityImage.url }}');
        background-size: contain;
        width: 100%;
        height: calc(0.50 * 100vw);
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    @media screen and (min-width: 1024px) {

        .flex-container-1 {
            height: 10vh;
        }
    }
</style>

<body>
    {% comment %}
    <!---------------Nav Bar -----------------> {% endcomment %}

    <div class="flex-container-1">
        <div class="flex-item-1 disapp_in_compview" id="flex-item-18">
            <a href="{% url 'register_single' %}"> Register</a>
        </div>

        <div class="flex-item-1 toggle-btn" id="flex-item-17" onclick="myFunction()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="flex-item-1 cross-btn" id="flex-item-19" onclick="myFunction()">
            <span>x</span>
        </div>

        <div class="flex-item-1" id="flex-item-11">
            <img src="{% static 'images/imagelogo.png' %}" alt="logo" />
        </div>

        <div class="flex-item-1" id="flex-item-12"><a href="{% url 'my_redirect'%}" target="_blank"
                style="text-decoration:none"><b>Alcheringa</b></a></div>

        <div class="flex-item-1 disapp_in_mobview" id="flex-item-13">
            <a href="{% url 'landing-page' %}"> Home</a>
        </div>
        <div class="flex-item-1 disapp_in_mobview" id="flex-item-16">
            <a href="{% url 'register_single' %}"> Register</a>
        </div>
    </div>

    <div style="padding-bottom: 50px; background-color: #F1E8E9;">
        <div class="heading">Sponsors</div>
        <div style="display: flex; justify-content: center;align-items: center;flex-wrap: wrap;">
            <a href="https://iubat.edu" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/iubat.jpg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href="https://www.facebook.com/bridalxposebd" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Bridal_xpose.png' %}" width="100vw"
                        height="100vw" style="background-color:black;margin:0 20px" />
                </div>
            </a>
            <a href="https://www.shomoyeralo.com" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Logo copy.png' %}" width="100vw"
                        height="40vw" style="margin:0 20px" />
                </div>
            </a>
            <a href="https://www.fashionrunwaybd.com/?fbclid=IwAR3ekvysHIIXOHN2yJ3wiic9BoIF2mWwxYYNqg7d2XSS4TdhdaFolEtIAfY "
                target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/CCI-Logo-_1_.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href="https://www.facebook.com/tanjidsmusichub" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Judging Partner.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href="https://www.toastmasters.org/Find-a-Club/07871381-07871381" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/logo.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href="http://www.creativeimprints.in/index.php" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/CI Logo.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href=" https://www.instagram.com/duupdates/" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/LOGO DU Updates HD.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href="https://instagram.com/du_says?igshid=YmMyMTA2M2Y=" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/DUmail.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href=" https://www.bitmesra.ac.in/BIT_Mesra?cid=8&pid=H" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Bit logo.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            </div>
            <div style="display: flex; justify-content: center;align-items: center;flex-wrap: wrap;">
            <a href="https://www.bitmesra.ac.in/BIT_Mesra?cid=8&pid=H" target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Nss logo.jpeg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Venue Partner.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a>
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Outreach Partner.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a>
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Literary Partner.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a>
                <div style="margin-bottom:8px"><img src="{%static 'city/images/judging Partner 3.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Judging Partner.jpeg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a href="https://kpcmedicalcollege.in/ " target="_blank">
                <div style="margin-bottom:8px"><img src="{%static 'city/images/KPC_Medical_College_and_Hospital_Logo.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/IMG_9519 (1).jpeg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Branding Partner.jpeg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Effe_logo.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px; background-color: black;" />
                </div>
            </a>
        </div>
        <div style="display: flex; justify-content: center;align-items: center;flex-wrap: wrap;">
           
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/dale town.jpg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/gajal.jpeg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/varshbhan.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Titlogo.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/Harmony Flex.jpg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/BhopalUpdate.png' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
            <a >
                <div style="margin-bottom:8px"><img src="{%static 'city/images/apnaBhopal.jpg' %}" width="100vw"
                        height="100vw" style="margin:0 20px" />
                </div>
            </a>
        </div>
    </div>


    <!--FOOTER-->

    <div class="container0">
        <div class="container1">
            <img src="{%static 'city/images/Mask group.png' %}" />
        </div>

        <!-- -->
        <div class="container2">
            <div class="alcher">
                <div>
                    <h1 class="footer_text" id="highway">Highway</h1>
                </div>
                <div>
                    <h1 class="footer_text">to</h1>
                </div>
                <div>
                    <h1 class="footer_text" id="alcher">Alcher</h1>
                </div>
            </div>
            <div class="contactinfo">
                <h1 id="contact" style="margin:0;font-size: 30px;">Contact Us</h1>
                <div class="names">
                    <div class="Siddhant">
                        <h2 id="sid">Siddhant Singh</h2>
                        <h3 id="pr1">PR Head</h3>
                        <p>+91-9310859978</p>
                    </div>
                    <div class="Akshara">
                        <h2 id="akshara">Danda Akshara</h2>
                        <h3 id="pr2">PR Head</h3>
                        <p>+91-9908991939</p>
                    </div>
                    <div class="Quasim">
                        <h2 id="quasim">Quasim Khan</h2>
                        <h3 id="pr3">Media and Outreach Head</h3>
                        <p>+91-7763959688</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container3">
            <div class="video">
                <div style="margin-bottom:80px;margin-top: 30px;display: flex;flex-direction: column;">
                    <h1 id="discover" style="margin-bottom:0; margin-left: 10px;">Discover Alcheringa</h1>
                    <div class="class-iframe">
                        <!-- <iframe class="size-iframe" src="https://www.youtube.com/embed/r9KMFnpZgAo" ></iframe> -->
                        <!-- <video class="size-iframe" height="300" width="300" src="media/Alcheringa 2022 ： Voyage to Neoterra ｜ Official Aftermovie Teaser!!!.webm"></video> -->
                        <video width="100%" height="250" controls style="padding:0;">
                            <source
                                src="{% static 'city/teaser/Alcheringa_2022_Voyage_to_Neoterra_Official_Aftermovie_Teaser!!!.webm' %}"
                                type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                            <!-- Your browser does not support the video tag. -->
                        </video>
                        <hr style="border: 3px solid #f29e6d; transform: translate(0, -12px);">
                    </div>
                </div>
                <div class="follow">
                    <div>
                        <h1 id="follow-us" style="margin-bottom:8px; margin-left: 10px;font-size: 2em;">Follow us </h1>
                    </div>
                    <div class="icons">
                        <div style="margin-right: 6px;margin-left: 10px;">
                            <a href="https://www.instagram.com/alcheringaiitg/" target="_blank"><img
                                    src="{%static 'city/images/instagram (4).png' %}" width="36px" /></a>
                        </div>
                        <div style="margin-right: 6px;">
                            <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/"
                                target="_blank"><img src="{%static 'city/images/linkedin (2).png' %}"
                                    width="36px" /></a>
                        </div>
                        <div style="margin-right: 6px;">
                            <a href="https://www.facebook.com/alcheringaiitg" target="_blank"><img
                                    src="{%static 'city/images/facebook.png' %}" width="36px" /></a>
                        </div>
                        <div style="margin-right: 6px;">
                            <a href="https://twitter.com/alcheringaiitg" target="_blank"><img
                                    src="{%static 'city/images/twit.png' %}" width="36px" /></a>
                        </div>
                        <div style="margin-right: 6px;">
                            <a href="https://www.youtube.com/c/AlcheringaIITG" target="_blank"><img
                                    src="{%static 'city/images/youtube.png' %}" width="36px" /></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>





</body>

<script type="text/javascript">
    function myFunction() {
        var element1 = document.getElementById("flex-item-13");
        element1.classList.toggle("show");
        var element2 = document.getElementById("flex-item-14");
        element2.classList.toggle("show");
        var element3 = document.getElementById("flex-item-15");
        element3.classList.toggle("show");
        // var element4= document.getElementById("flex-item-16");
        // element4.classList.toggle("show");
        var element4 = document.getElementById("flex-item-99");
        element4.classList.toggle("show");
        var element5 = document.getElementById("flex-item-17");
        element5.classList.toggle("alternate1");
        var element5 = document.getElementById("flex-item-19");
        element5.classList.toggle("alternate2");
    }
</script>

</html>
