@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

@font-face {
  font-family: Coolvetica;
  src: url("{%static 'fonts/coolvetica rg.otf' %}");
}

* {
  margin: 0;
}

/************** Nav Bar ************************/

.flex-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  background-color: rgba(242, 158, 109, 1);
  align-items: center;
  width: 100%;
  gap: 10px;
}

#flex-item-13 a:hover {
  color: white;
  background-color: rgba(242, 68, 5, 1);
  transition: 0.4s;
  border-style: groove;
  border-color: #031059;
}

#flex-item-14 a:hover {
  color: white;
  background-color: rgba(242, 68, 5, 1);
  transition: 0.4s;
  border-style: groove;
  border-color: #031059;
}

#flex-item-15 a:hover {
  color: white;
  background-color: rgba(242, 68, 5, 1);
  transition: 0.4s;
  border-style: groove;
  border-color: #031059;
}

#flex-item-16 a:hover {
  color: white;
  background-color: rgba(242, 68, 5, 1);
  transition: 0.4s;
  border-style: groove;
  border-color: #031059;
}

#flex-item-18 a:hover {
  color: white;
  background-color: rgba(242, 68, 5, 1);
  transition: 0.4s;
  border-style: groove;
  border-color: #031059;
}

.flex-item-1 a:link {
  color: rgba(28, 3, 15, 1);
}

.flex-item-1 a:visited {
  color: rgba(28, 3, 15, 1);
}

@font-face {
  font-family: Coolvetica;
  src: url(coolvetica_rg.otf);
}

#flex-item-11 {
  margin: 10px 5px 10px 20px;
  /* position: relative; */
}

#flex-item-12 {
  font-size: 35px;
  color: rgba(0, 0, 0, 1);
  font: Coolvetica;
  font-weight: 400;
  width: 200px;
  margin: 0px auto 0px 5px;
  font-family: Coolvetica;
}

#flex-item-13 a {
  text-decoration: none;
  font-family: Coolvetica;
  font-size: 21px;
  font-weight: 400;
  padding: 5px;
  border-radius: 30px;
  margin: 0px 10px 0px 10px;
}

#flex-item-14 a {
  text-decoration: none;
  font-family: Coolvetica;
  font-size: 21px;
  font-weight: 400;
  padding: 5px;
  border-radius: 30px;
  margin: 0px 10px 0px 10px;
}

#flex-item-15 a {
  text-decoration: none;
  font-family: Coolvetica;
  font-size: 21px;
  font-weight: 400;
  padding: 5px;
  border-radius: 30px;
  margin: 0px 10px 0px 10px;
}

#flex-item-16 a {
  text-decoration: none;
  font-family: Coolvetica;
  font-size: 21px;
  font-weight: 400;
  padding: 5px;
  border-radius: 30px;
  margin: 0px 20px 0px 10px;
}

#flex-item-18 a {
  text-decoration: none;
  font-family: Coolvetica;
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  border-radius: 30px;
  margin: 0px 20px 0px 10px;
  border-style: groove;
  border-color: #031059;
  border-width: 2px;
}

.toggle-btn {
  width: 35px;
  position: absolute;
  right: 10px;
  top: 6px;
  display: none;
}

.toggle-btn span {
  /* display: inline-block; */
  width: 100%;
  height: 3.5px;
  background-color: #031059;
  float: left;
  margin-bottom: 8px;
}

.cross-btn {
  font-size: 30px;
  position: absolute;
  right: 25px;
  top: 5px;
  display: none;
}

.disapp_in_compview {
  position: absolute;
  right: 70px;
  top: 17px;
  float: left;
}

@media (min-width: 775px) {
  .disapp_in_compview {
    display: none;
  }
}

@media (max-width: 775px) and (min-width: 460px) {
  .toggle-btn {
    display: inline;
  }
  .disapp_in_mobview {
    display: none;
  }

  #flex-item-16 {
    margin-left: auto;
  }

  .toggle-btn {
    margin: 10px 10px 0px 0px;
  }

  div.show {
    display: block;
    width: 100%;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    display: flex;
    justify-content: end;
  }

  div.alternate1 {
    display: none;
  }
  div.alternate2 {
    display: block;
  }
}

@media (max-width: 460px) {
  #flex-item-12 {
    display: none;
  }
  .disapp_in_mobview {
    display: none;
  }
  .toggle-btn {
    display: block;
  }

  #flex-item-11 {
    margin: 10px auto 10px 20px;
  }
  .toggle-btn {
    margin: 10px 10px 0px 0px;
  }
  div.show {
    display: block;
    width: 100%;
    /* padding: 2px 2px 2px 2px ; */
    margin: 2px 2px 5px 2px;
    display: flex;
    justify-content: end;
  }
  div.alternate1 {
    display: none;
  }
  div.alternate2 {
    display: block;
  }
}

/***************  City  *****************/
.city-link{
  font-family: Coolvetica;
  align-self: flex-end;
  color: white;
  font-weight: 500;
  font-size: 3vw;
  margin-bottom: 1vw;
}

.city-link a {
 color: #F29E6D;
 text-decoration: none;
}

/***************  Competitions  *****************/

/* .comp-main {
  background-color: #f2e9e9;
}

.dmsans {
  font-family: "DM Sans", sans-serif;
}

.coolvetica {
  font-family: Coolvetica;
  font-weight: 200;
}

#competition {
  text-align: center;
  font-size: 65px;
  color: #2c3d73;
  margin-bottom: 5%;
}

.row {
  display: flex;
  flex-flow: row;
  margin-bottom: 10%;
}

.img2 {
  width: 36vw;
  height: 60%;
  border: 4px solid #f2e9e9;
  box-sizing: border-box;
  margin-top: -10%;
  margin-left: 35%;
}

.date {
  font-style: normal;
  font-size: 25px;
  line-height: 112.5%;
  color: #1c030f;
  padding-bottom: 2%;
}

.comp-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  margin: 20px 0 20px 0;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  color: #ffffff;
  background: #f24405;
  border-radius: 28px;
  height: 10%;
  width: 36%;
  border: none;
}

#lefttext {
  font-size: x-large;
  background-image: url("images/curved.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 15%;
  margin-right: 7%;
}

#righttext {
  font-size: x-large;
  background-image: url("../images/mic.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-left: 15%;
  margin-right: 2%;
}

#arttext {
  font-size: x-large;
  background-image: url("../images/palette.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 15%;
  margin-right: 2%;
}

#artimg1 {
  margin-left: 40%;
  float: right;
}

#artimg2 {
  width: 36vw;
  height: 60%;
  border: 4px solid #f2e9e9;
  box-sizing: border-box;
  margin-top: -10%;
  margin-left: -20%;
} */

/***************  Schedule & Sponsors  *****************/

.sponsers {
  font-family: "Syne", sans-serif;
  /* overflow-x: hidden !important;
   height: 100vh; */

  background-color: #f2e9e9;
}

.dates {
  background-color: black;
  color: white;
  font-family: Coolvetica;
  font-weight: 200;
  font-size: 48px;
  line-height: 60px;
  /* border: 5px  solid #F2E9E9; */
  width: 20vw;
}

.verticalrow {
  text-align: center;
  background-color: black;
  color: #f2e9e9;
  border-spacing: 0px;
  box-sizing: border-box;
  writing-mode: vertical-lr;
  line-height: 50px;
  font-size: 25px;
  width: 5vw;
}

.event {
  width: 15vw;
  text-align: left;
  padding-right: 25px;
  padding-left: 15px;
  font-size: 25px;
}

.eventtime {
  color: #f4d6d6;
  padding-right: 10px;
  text-align: center;
  border-right: 5px solid #f2e9e9;
  font-size: 25px;
  width: 6vw;
}

.Schedule {
  background-color: #f4d6d6;
  color: black;
  text-align: start;
  font-family: Coolvetica;
  font-weight: 200;
  font-size: 65px;
  width: 80vw;
  border-bottom: 5px solid #f2e9e9;
  border-right: 5px solid #f2e9e9;
  border-spacing: 0px;
}

.table {
  height: 100vh;
  background-image: url("../images/geet.svg");
  font-size: 30px;
  color: #ffffff;
  font-family: Coolvetica;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table table {
  width: 85vw;
  height: 70vh;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
  font-size: 65px;

  font-family: Coolvetica;
  font-weight: 200;
  text-align: center;

  color: #2c3d73;
}
.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  border: #f2e9e9 solid 25px;
  background-color: transparent;
}

.marquee-body {
  display: flex;
  justify-content: center;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #f2e9e9;
}

:root {
  --marquee-width: 80vw;
  --marquee-height: 30vh;
  --marquee-elements: 8;
  /* defined with JavaScript */
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #f2e9e9;
  color: #2f4858;
  overflow: hidden;
  position: relative;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 103%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
}

.marquee:after {
  right: 0;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4);
  /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 95%;
  /* height: 100%; */
  /* border: 2px solid #eee; */
}
.border2000 {
  border-radius: 20px;
}

@media (max-width: 700px) {
  .marquee-content li img {
    width: 95%;
    /* height: 100%; */
    border: 2px solid #f2e9e9;
    border-radius: 10px;
  }

  :root {
    --marquee-width: 100vw;
    --marquee-height: 18vh;
    --marquee-elements-displayed: 3;
  }

  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
  .marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #f2e9e9;
    border-radius: 10px;
  }
}
@media (max-width: 800px) {
  .dates {
    background-color: black;
    color: white;
    font-family: Coolvetica;
    font-weight: 200;
    font-size: 30px;
    line-height: 60px;
    /* border: 5px  solid #F2E9E9; */
    width: 20vw;
  }
  .event {
    width: 15vw;
    text-align: left;
    padding-right: 25px;
    padding-left: 15px;
    font-size: 20px;
  }

  .eventtime {
    color: #f4d6d6;
    padding-right: 10px;
    text-align: center;
    border-right: 5px solid #f2e9e9;
    font-size: 20px;
    width: 6vw;
  }
}
@media (max-width: 1070px) {
  .dates {
    background-color: black;
    color: white;
    font-family: Coolvetica;
    font-weight: 200;
    font-size: 35px;
    line-height: 60px;
    /* border: 5px  solid #F2E9E9; */
    width: 20vw;
  }
}
@media (max-width: 400px) {
  .marquee-content li img {
    width: 95%;
    /* height: 100%; */
    border: 2px solid #f2e9e9;
    border-radius: 30px;
  }

  :root {
    --marquee-width: 100vw;
    --marquee-height: 18vh;
    --marquee-elements-displayed: 2;
  }

  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}

/************** About Alcheringa *****************/
.container {
  width: 100%;
  min-height: 600px;
  padding: 0;
  margin: 0;
  background-image: url("../images/Frame 445.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.c1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 136px;
  padding: 19px;
}

.c2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 136px;
  padding: 19px;
}

.Heading {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 60px;
  color: #2c3d73;
  padding: 75px 0 75px 0;
}

.text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #000000;
}

.mob {
  display: none;
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .c1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 0px;
    text-align: center;
    padding: 100px;
  }
  .c2 {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 110px;
  }

  .mob {
    display: block;
  }

  .lap {
    display: none;
  }

  .Heading {
    text-align: center;
    font-size: 36px;
    padding: 20px;
  }
}
/*******************Footer**********************/
.container0 {
  background-color: #2c3d73;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  /* justify-content: center; */
  /* width: 100%; */
  /* height:100vh; */
}
.container1 {
  border-right: 4px solid #f29e6d;
  /* border-bottom: 4px solid   #F29E6D; */
  background-color: #2c3d73;
  /* margin-right: auto; */
  /* margin-left: auto; */
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.container1 img {
  padding-left: 50px;
  padding-right: 50%;
  padding-top: 25px;
  margin-bottom: auto;
}
.container2 {
  padding-left: 40px;
  border-right: 4px solid #f29e6d;
  padding-right: 30px;
  padding-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2c3d73;
  /* margin-left: auto; */
  /* margin-right: auto; */
  flex-grow: 1;
}
.alcher {
  color: #f29e6d;
  font-family: Bohemian Soul;
  font-size: 40px;
  margin-bottom: auto;
}
.contactinfo {
  font-family: "DM Sans", sans-serif;
  margin-top: auto;
  font-weight: 400;
  padding-top: 80px;
}
#contact {
  color: #f29e6d;
  padding-bottom: 20px;
  font-size: 50px;
}
.names {
  display: flex;
  font-family: "DM Sans", sans-serif;
}
.Siddhant {
  padding-right: 17px;
  padding-bottom: 10px;
}
#sid {
  padding-bottom: 10px;
}
#pr1 {
  padding-bottom: 10px;
}

.akshara {
  padding-right: 17px;
  padding-bottom: 10px;
}
#akshara {
  padding-bottom: 10px;
}
#pr2 {
  padding-bottom: 10px;
}

.quasim {
  padding-bottom: 10px;
}

#quasim {
  padding-bottom: 10px;
}
#pr3 {
  padding-bottom: 10px;
}

.video {
  /* margin-bottom: 150px; */
  /* padding: 0px 0px 40px 0px; */
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  /* border-bottom:4px solid   #F29E6D ; */
}

/* .size-iframe{
      height: 140%;
      width: 85%;
  } */

.follow {
  margin-top: auto;
  /* border-top: 4px solid   #F29E6D;; */
  font-size: 17px;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 77%;
  justify-content: space-between;
}

#insta {
  padding-right: 14px;
}
#link {
  padding-right: 14px;
}
#facebook {
  padding-right: 14px;
}
#twitter {
  padding-right: 14px;
}
#youtube {
  padding-right: 14px;
}

@media (min-width: 1230px) {
  .size-iframe {
    height: 140%;
    width: 85%;
  }
  .container3 {
    color: #f29e6d;
    padding-left: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: #2c3d73;
    /* margin-left: auto; */
    /* margin-right: auto; */
    flex-grow: 1;
  }
  #discover {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
  }
}

@media (max-width: 1230px) and (min-width: 1040px) {
  .container1 {
    display: none;
  }

  .alcher {
    text-align: center;
  }
  .contactinfo {
    text-align: center;
  }
  .video {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-self: center;
    padding-bottom: 40px;
  }

  .class-iframe {
    align-self: center;
    margin-bottom: 30px;
  }

  #follow-us {
    padding-bottom: 20px;
  }
  /* .follow{
          justify-content: center;
          align-self: center;
      } */
  .icons {
    justify-content: space-around;
  }
  .container3 {
    color: #f29e6d;
    padding-left: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: #2c3d73;
    /* margin-left: auto; */
    /* margin-right: auto; */
    flex-grow: 1;
  }
  #discover {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }
}

.icons img {
  filter: invert(100%);
}
@media (max-width: 1040px) {
  .container1 {
    display: none;
  }

  .alcher {
    text-align: center;
  }

  .contactinfo {
    text-align: center;
  }

  .names {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .video {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-self: center;
    padding-bottom: 40px;
  }

  .class-iframe {
    align-self: center;
  }

  #follow-us {
    padding-bottom: 20px;
    text-align: center;
  }
  /* .follow{
              justify-content: center;
              align-self: center;
          } */
  .icons {
    justify-content: space-around;
  }
  .container3 {
    color: #f29e6d;
    padding-left: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: #2c3d73;
    /* margin-left: auto; */
    /* margin-right: auto; */
    flex-grow: 1;
  }
  #discover {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .container0 {
    font-size: 85%;
  }
  .alcher {
    font-size: 25px;
  }

  #discover {
    font-size: 40px;
  }
  #contact {
    font-size: 40px;
  }
  #follow-us {
    padding-left: 29.29%;
    font-size: 40px;
  }
  .media {
    height: 50px;
  }
}
/* 



.footer_container {
    background-color: rgba(44, 61, 115, 1);
    max-height: 685px;
}

.logo_footer {
    position: relative;
    filter: invert(100%);
    height: 25%;
    width: 6%;
    margin-top: 3%;
    margin-left: 5%;

}

.left_container_footer{
    position: relative;
    top: -137px;
    left: 170px;
    border: 4px solid rgba(242, 158, 109, 1);
    margin-left: 44px;
    border-bottom: none;
    border-top: none;
    width: 42%;
}
.heading_footer{
    margin-top: 32px;
    margin-left: 30px;
    color: rgba(242, 158, 109, 1);
    font-family: 'Coolvetica', sans-serif;
    font-size: 70px;
    display: inline-block;
    line-height: 100px;
    letter-spacing: 2px;
}

.contact_us_footer {
    margin-left: 30px;
    color: rgba(242, 158, 109, 1);
    font-family: 'Coolvetica', sans-serif;
    font-size: 34px;
    margin-top: 135px;
    margin-bottom: 30px;
    padding-bottom: 60px;
    letter-spacing: 2px;
}

.contact_info_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: normal;
}

.contact_info_footer div {
    flex: 1;
    color: white;
    margin-right: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    
    margin-bottom: 7px;
    margin-top: 10px;
}

.right_container_footer{
    width: 42%;
    position: relative;
    left: 800px;
    top: -770px;
    border: 4px solid rgba(242, 158, 109, 1);
    border: none;
    
}
.discover_footer{
    border: 4px solid rgba(242, 158, 109, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 60px;
    padding-bottom: 40px;
    padding-right: 10px;
}
.right_heading_footer{
    position: absolute;
    color: rgba(242, 158, 109, 1);
    font-family: 'Coolvetica', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

iframe {
    margin-top: 20px;
    height: 200px;
    width: 420px;

}

.follow_us_heading_footer{
    color: rgba(242, 158, 109, 1);
    font-family: 'Coolvetica', sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-top: 50px;
}

.icon_grid_footer{
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-between;
}

.icon_grid_footer img {
    width: 50px;
		filter: invert(100%);
} */

/* .container0{
    background-color: #2C3D73;
    display: flex;
    color: white;
width: 100vw;
height:100vh;


}
.container1{
border-right:4px solid   #F29E6D; 
}
.container1 img{
    padding: 30px;
}
.container2{
    padding-left: 40px;
    border-right:4px solid   #F29E6D; 
    padding-right: 30px;
    padding-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;


}
.alcher{
    color:  #F29E6D;
    font-family: Bohemian Soul;
font-size: 30px;


}
.contactinfo{
    margin-top: 200px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;

}
#contact{
    color: #F29E6D;
    padding-bottom: 20px;

}
.names{
    display: flex;
}
.Siddhant{
    padding-right: 17px;
}
#sid{
    padding-bottom: 10px;
}
#pr1{
    padding-bottom: 10px;
}

.akshara{
        padding-right: 17px;

}
#akshara{
    padding-bottom: 10px;
}
#pr2{
    padding-bottom: 10px;
}
#quasim{
    padding-bottom: 10px;
}
#pr3{
    padding-bottom: 10px;
}

.container3{
    color:  #F29E6D;
    padding-left: 100px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
  
    .video{
    margin-bottom: 150px;
}

#discover{
    margin-top: 100px;
    padding-bottom: 50px;
    font-size: 40px;
}
.icons:hover{
    color: white;
}
#insta{
    padding-right: 14px;
}
#link{
    padding-right: 14px;
}
#facebook{
    padding-right: 14px;
}
#twitter{
    padding-right: 14px;
}
#youtube{
    padding-right: 14px;
}
 */

/******************** Contact ***********************/

.contact-box {
  padding-bottom: 52px;
  background-color: #f2e9e9;
}

.contact-flex {
  display: flex;
  justify-content: space-evenly;
  padding-left: 120px;
  padding-right: 120px;
}

.contact-card {
  width: 200px;
}

@media (min-width: 1024px) {
  .contact-flex {
    margin-left: -16px;
    margin-right: -16px;
  }
  .contact-card {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 768px) {
  .contact-card {
    padding-left: 8px;
    padding-right: 8px;
  }
  .contact-tin {
    padding-left: 48px;
    padding-right: 48px;
  }
  .contact-box {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .contact-flex {
    flex-wrap: wrap;
    gap: 15px;
  }
}

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  min-height: 40vh;
  height: 100%;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.name {
  font-size: medium;
  font-weight: medium;
}

.position {
  font-size: 1vw;
  font-weight: light;
}

.contact {
  font-weight: lighter;
}

.snip1527image {
  height: 100%;
}

.snip1527 img {
  height: 100%;
  width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption div {
  display: flex;
  padding-right: 10%;
  justify-content: space-between;
}

.snip1527 figcaption {
  padding: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}

.sm-icons {
  position: absolute;
  right: 5%;
  top: 5%;
}
.sm-icons ul {
  display: flex;
  flex-direction: column;
}
.sm-icons ul a {
  width: 20px;
}
.snip1527 img {
  object-fit: cover;
  /* filter: invert(100%); */
  margin-bottom: 2px;
}
.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.team-img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
